<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue.js</title>
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <ul>
            <li v-for="item in items">{{ item.name }}</li>
        </ul>
        <button v-on:click="handleClick">Click</button>
        <input type="text" v-model="message">
        <button v-on:click="show = !show">Change show</button>
        <transition>
            <p v-if="show">Show case</p>
        </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Poketmon!',
                items: [
                    {
                        name: '꼬부기',
                        power: 10
                    },
                    {
                        name: '파이리',
                        power: 10
                    },
                    {
                        name: '이상해씨',
                        power: 10
                    },
                    {
                        name: '피카츄',
                        power: 20
                    },
                ],
                show: false
            },
            methods: {
                handleClick: function(event) {
                    alert(event.target)
                }
            }
        })
    </script>
</body>
</html>